# SPDX-License-Identifier: CC0-1.0

# This file contains configuration for EditorConfig [https://editorconfig.org/].

root = true

[*]
charset              = unset
end_of_line          = unset
indent_size          = unset
indent_style         = unset
insert_final_newline = false
max_line_length      = off
tab_width            = unset

[codeowners,.{editorconfig,git{attributes,ignore}},*.{md,txt,yml}]
indent_style         = space
insert_final_newline = true

[*.{md,yml}]
indent_size = 2

[codeowners,mimetype,*.{xml,yml},.{editorconfig,git{attributes,ignore}}]
trim_trailing_whitespace = true

[*.{md,txt}]
trim_trailing_whitespace = false

[mimetype]
insert_final_newline = false
