; This file contains configuration for EditorConfig.
; Information about EditorConfig is available at https://editorconfig.org/

; These rules are used by EditorConfig applications to make consistent text formatting easier.

; don’t look for more .editorconfig files in higher directories
root = true

; unset/disable all config for all files
[*]
charset                  = unset
end_of_line              = unset
indent_size              = unset
indent_style             = unset
insert_final_newline     = false
max_line_length          = off
tab_width                = unset
trim_trailing_whitespace = false

; placeholder files should always be empty
[.empty,.working]
indent_size              = 0
indent_style             = space
max_line_length          = 0
trim_trailing_whitespace = true

; all text files
[*.css,.editorconfig,.gitattributes,.gitconfig,.gitignore,*.html,*.js,*.json,*.md,mimetype,*.sh,.shellcheckrc,*.svg,*.txt,*.xml,*.yml]
charset              = utf-8
end_of_line          = lf
insert_final_newline = true

; CSS (Cascading Style Sheets) files
[*.css]
; none

; EditorConfig files
[.editorconfig]
max_line_length = 1024

; gitattributes files
[.gitattributes]
; none

; gitconfig files
[.gitconfig]
; none

; gitignore files
[.gitignore]
; none

; HTML (HyperText Markup Language) files
[*.html]
; none

; image_prefix.txt should be prepended to a string
[image_prefix.txt]
insert_final_newline = false

; JavaScript files
[*.js]
; none

; JSON (JavaScript Object Notation) files
[*.json]
; none

; JSON with comments files
[.vscode/**.json]
indent_size = 2

; Markdown files
[*.md]
; none

; mimetype files
[mimetype]
indent_size              = 0
insert_final_newline     = false
trim_trailing_whitespace = true

; plaintext files
[*.txt]
; none

; shell script files
[*.sh]
; none

; ShellCheck config files
[.shellcheckrc]
trim_trailing_whitespace = true

; SVG (Scalable Vector Graphics) files
[*.svg]
; none

; XML (Extensible Markup Language) files
[*.xml]
; none

; YAML (YAML Ain’t Markup Language) files
[*.yml]
indent_size = 2
