; SPDX-License-Identifier: CC0-1.0 OR 0BSD
; This file contains configuration for Git.
; Information about gitconfig is available at https://git-scm.com/docs/git-config

; Add configuration for your local repository to <repo_root>/.git/config

; To include this file in your local configuration:
;  $> git config --local -- include.path <repo_root>/.gitconfig

[core]
commentchar = auto
eol         = lf

[gitweb]
description = a work-in-progress archive of the webcomic ‘xkcd’ by Randall Munroe, plus both official and unofficial related data

[init]
defaultbranch = master
