# SPDX-License-Identifier: CC0-1.0

.editorconfig  text linguist-language=EditorConfig
.gitattributes text linguist-language=Git-Attributes
.gitignore     text linguist-language=Git-Ignore
*.json         text linguist-language=JSON
*.md           text linguist-language=Markdown
*.txt          text linguist-language=Text

*.jpg          binary
*.pdf          binary
*.png          binary
