# SPDX-License-Identifier: CC0-1.0
# SPDX-LicenseConcluded: CC0-1.0
# SPDX-File-Copyright-Text: No rights reserved.
# SPDX-FileName: ./.gitignore
# SPDX-FileType: DOCUMENTATION
# SPDX-FileType: TEXT
# SPDX-FileType: SOURCE
# SPDX-FileType: OTHER

# This file contains files for Git to ignore in the repository root directory: /
# Information about .gitignore is available here: [https://git-scm.com/docs/gitattributes/]

*.cbz
*.odg#
/xkcd/en/print/xkcd_volume_0/**.odg
