# SPDX-License-Identifier: CC0-1.0
# SPDX-LicenseConcluded: CC0-1.0
# SPDX-FileCopyrightText: No rights reserved.
# SPDX-FileName: ./.gitignore
# SPDX-FileType: DOCUMENTATION
# SPDX-FileType: TEXT
# SPDX-FileType: SOURCE
# SPDX-FileType: OTHER

# This file contains files for Git to ignore in the repository root directory: /
# Information about .gitignore is available here: [https://git-scm.com/docs/gitattributes/]

# filenames with common non-portable characters
* *
*#*
*(*
*)*
*[*
*]*
*{*
*}*
*<*
*>*
*"*
*'*
*,*
*;*
*:*
*|*
*%*
*!*
*\?*
*\\*

# other potentially problematic filenames
-*
*.
[Aa][Uu][Xx]
[Aa][Uu][Xx].*
[Cc][Oo][Mm][0-9]
[Cc][Oo][Mm][0-9].*
[Cc][Oo][Nn]
[Cc][Oo][Nn].*
[Ll][Pp][Tt][0-9]
[Ll][Pp][Tt][0-9].*
[Nn][Uu][Ll]
[Nn][Uu][Ll].*
[Pp][Rr][Nn]
[Pp][Rr][Nn].*

# Windows special files
[Dd]esktop.ini
ehthumbs.db
ehthumbs_vista.db
Thumbs.db

# macOS special files
._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.com.apple.timemachine.donotpresent
.DocumentRevisions-V100
.DS_Store
.fseventsd
.LSOverride
__MACOSX__
Network Trash Foldef
.Spotlight-V100
.TemporaryItems
Temporary Items
.Trashes
.VolumeIcon.icns

# made files
*.[Cc][Bb][Zz]
*.[Oo][Dd][Gg]
