# SPDX-FileContributor: author: gabldotink | email:gabl@gabl.ink | github:gabldotink
# SPDX-FileCopyrightText: No rights reserved.
# SPDX-FileName: ./.gitattributes
# SPDX-FileType: DOCUMENTATION
# SPDX-FileType: TEXT
# SPDX-FileType: SOURCE
# SPDX-FileType: OTHER
# SPDX-LicenseConcluded: CC0-1.0
# SPDX-License-Identifier: CC0-1.0

# This file contains configuration for Git.
# Information about gitattributes is avaiable here: [https://git-scm.com/docs/gitattributes]

# text files
  CONTRIBUTING          -binary delta        diff  encoding=UTF-8 eol=lf git-encoding=UTF-8 linguist-detectable=false linguist-generated=false -linguist-language                    linguist-vendored=false   merge  text  working-tree-encoding=UTF-8 zos-working-tree-encoding=UTF-8
  COPYING               -binary delta        diff  encoding=UTF-8 eol=lf git-encoding=UTF-8 linguist-detectable=false linguist-generated=false -linguist-language                    linguist-vendored=false   merge  text  working-tree-encoding=UTF-8 zos-working-tree-encoding=UTF-8
*.csv                   -binary delta        diff  encoding=UTF-8 eol=lf git-encoding=UTF-8 linguist-detectable       linguist-generated=false  linguist-language=CSV                linguist-vendored=false   merge  text  working-tree-encoding=UTF-8 zos-working-tree-encoding=UTF-8
 .gitattributes         -binary delta        diff  encoding=UTF-8 eol=lf git-encoding=UTF-8 linguist-detectable       linguist-generated=false  linguist-language=Git-Attributes     linguist-vendored=false   merge  text  working-tree-encoding=UTF-8 zos-working-tree-encoding=UTF-8
 .git-blame-ignore-revs -binary delta        diff  encoding=UTF-8 eol=lf git-encoding=UTF-8 linguist-detectable       linguist-generated=false  linguist-language=Git-Revision-List  linguist-vendored=false   merge  text  working-tree-encoding=UTF-8 zos-working-tree-encoding=UTF-8
 .gitignore             -binary delta        diff  encoding=UTF-8 eol=lf git-encoding=UTF-8 linguist-detectable       linguist-generated=false  linguist-language=Git-Ignore         linguist-vendored=false   merge  text  working-tree-encoding=UTF-8 zos-working-tree-encoding=UTF-8
 .hgignore              -binary delta        diff  encoding=UTF-8 eol=lf git-encoding=UTF-8 linguist-detectable       linguist-generated=false  linguist-language=Regular-Expression linguist-vendored=false   merge  text  working-tree-encoding=UTF-8 zos-working-tree-encoding=UTF-8
*.html                  -binary delta        diff  encoding=UTF-8 eol=lf git-encoding=UTF-8 linguist-detectable       linguist-generated=false  linguist-language=HTML               linguist-vendored=false   merge  text  working-tree-encoding=UTF-8 zos-working-tree-encoding=UTF-8
*.js                    -binary delta        diff  encoding=UTF-8 eol=lf git-encoding=UTF-8 linguist-detectable       linguist-generated=false  linguist-language=JavaScript         linguist-vendored=false   merge  text  working-tree-encoding=UTF-8 zos-working-tree-encoding=UTF-8
*.json                  -binary delta        diff  encoding=UTF-8 eol=lf git-encoding=UTF-8 linguist-detectable       linguist-generated=false  linguist-language=JSON               linguist-vendored=false   merge  text  working-tree-encoding=UTF-8 zos-working-tree-encoding=UTF-8
  LICENSE               -binary delta        diff  encoding=UTF-8 eol=lf git-encoding=UTF-8 linguist-detectable=false linguist-generated=false -linguist-language                    linguist-vendored=false   merge  text  working-tree-encoding=UTF-8 zos-working-tree-encoding=UTF-8
  make                  -binary delta        diff  encoding=UTF-8 eol=lf git-encoding=UTF-8 linguist-detectable=false linguist-generated=false -linguist-language                    linguist-vendored=false   merge  text  working-tree-encoding=UTF-8 zos-working-tree-encoding=UTF-8
*.md                    -binary delta        diff  encoding=UTF-8 eol=lf git-encoding=UTF-8 linguist-detectable       linguist-generated=false  linguist-language=Markdown           linguist-vendored=false   merge  text  working-tree-encoding=UTF-8 zos-working-tree-encoding=UTF-8
  mimetype              -binary delta        diff  encoding=UTF-8 eol=lf git-encoding=UTF-8 linguist-detectable       linguist-generated=false  linguist-language=Text               linguist-vendored=false   merge  text  working-tree-encoding=UTF-8 zos-working-tree-encoding=UTF-8
  README                -binary delta        diff  encoding=UTF-8 eol=lf git-encoding=UTF-8 linguist-detectable=false linguist-generated=false -linguist-language                    linguist-vendored=false   merge  text  working-tree-encoding=UTF-8 zos-working-tree-encoding=UTF-8
*.sh                    -binary delta        diff  encoding=UTF-8 eol=lf git-encoding=UTF-8 linguist-detectable       linguist-generated=false  linguist-language=Shell              linguist-vendored=false   merge  text  working-tree-encoding=UTF-8 zos-working-tree-encoding=UTF-8
*.svg                   -binary delta        diff  encoding=UTF-8 eol=lf git-encoding=UTF-8 linguist-detectable       linguist-generated=false  linguist-language=SVG                linguist-vendored=false   merge  text  working-tree-encoding=UTF-8 zos-working-tree-encoding=UTF-8
*.txt                   -binary delta        diff  encoding=UTF-8 eol=lf git-encoding=UTF-8 linguist-detectable       linguist-generated=false  linguist-language=Text               linguist-vendored=false   merge  text  working-tree-encoding=UTF-8 zos-working-tree-encoding=UTF-8
*.xml                   -binary delta        diff  encoding=UTF-8 eol=lf git-encoding=UTF-8 linguist-detectable       linguist-generated=false  linguist-language=XML                linguist-vendored=false   merge  text  working-tree-encoding=UTF-8 zos-working-tree-encoding=UTF-8
 .yamllint              -binary delta        diff  encoding=UTF-8 eol=lf git-encoding=UTF-8 linguist-detectable=false linguist-generated=false -linguist-language                    linguist-vendored=false   merge  text  working-tree-encoding=UTF-8 zos-working-tree-encoding=UTF-8
*.yml                   -binary delta        diff  encoding=UTF-8 eol=lf git-encoding=UTF-8 linguist-detectable       linguist-generated=false  linguist-language=YAML               linguist-vendored=false   merge  text  working-tree-encoding=UTF-8 zos-working-tree-encoding=UTF-8

# binary files
*.gif                    binary delta=false -diff -encoding      -eol   -git-encoding       linguist-detectable=false linguist-generated=false -linguist-language                    linguist-vendored=false  -merge -text -working-tree-encoding      -zos-working-tree-encoding
 .gitkeep                binary delta=false  diff -encoding      -eol   -git-encoding       linguist-detectable=false linguist-generated=false -linguist-language                    linguist-vendored=false  -merge -text -working-tree-encoding      -zos-working-tree-encoding
*.jpg                    binary delta=false -diff -encoding      -eol   -git-encoding       linguist-detectable=false linguist-generated=false -linguist-language                    linguist-vendored=false  -merge -text -working-tree-encoding      -zos-working-tree-encoding
*.pdf                    binary delta=false -diff -encoding      -eol   -git-encoding       linguist-detectable=false linguist-generated=false -linguist-language                    linguist-vendored=false  -merge -text -working-tree-encoding      -zos-working-tree-encoding
*.png                    binary delta=false -diff -encoding      -eol   -git-encoding       linguist-detectable=false linguist-generated=false -linguist-language                    linguist-vendored=false  -merge -text -working-tree-encoding      -zos-working-tree-encoding
*.ttf                    binary delta=false -diff -encoding      -eol   -git-encoding       linguist-detectable=false linguist-generated=false -linguist-language                    linguist-vendored=false  -merge -text -working-tree-encoding      -zos-working-tree-encoding
