# SPDX-License-Identifier: CC0-1.0

# This file contains files for Git to ignore in the repository root directory: /
# Information about .gitignore is available here: [https://git-scm.com/docs/gitattributes/]

*.odg#
/xkcd/en/print/xkcd_-_volume_0/**.odg
