# SPDX-License-Identifier: CC0-1.0
# SPDX-LicenseConcluded: CC0-1.0
# SPDX-File-Copyright-Text: No rights reserved.
# SPDX-FileName: ./.gitattributes
# SPDX-FileType: DOCUMENTATION
# SPDX-FileType: TEXT
# SPDX-FileType: SOURCE
# SPDX-FileType: OTHER

# This file contains configuration for Git based on filenames in the repository root directory: /
# Information about .gitattributes is avaiable here: [https://git-scm.com/docs/gitattributes/]

codeowners,.git{attributes,ignore},mimetype,*.{csv,json,md,sh,svg,txt,xml,yml} text eol=lf encoding=UTF-8 git-encoding=utf-8 working-tree-encoding=UTF-8 zos-working-tree-encoding=UTF-8

  codeowners    linguist-language=CODEOWNERS
*.csv           linguist-language=CSV
 .gitattributes linguist-language=Git-Attributes
 .gitignore     linguist-language=Git-Ignore
*.json          linguist-language=JSON
*.md            linguist-language=Markdown diff=markdown
  mimetype      linguist-language=Text
*.sh            linguist-language=Shell diff=bash
*.svg           linguist-language=SVG
*.txt           linguist-language=Text
*.xml           linguist-language=XML
*.yml           linguist-language=YAML

*.gif           binary
 .gitkeep       binary
*.jpg           binary
*.pdf           binary
*.png           binary
*.ttf           binary
