; This file contains configuration for Git.
; Information about gitconfig is available here: [https://git-scm.com/docs/git-config]

; To include this file in your local configuration:
;  $> git config --local include.path <repo_root>/.gitconfig

[core]
commentChar   = auto
eol           = lf

[feature]
manyFiles     = true

[gitweb]
description   = An archive of the webcomic xkcd, including comics, title text, transcripts, JSON, etc.

[init]
defaultBranch = master
