# This file contains configuration for ShellCheck.
# Information about ShellCheck is available here: [https://github.com/koalaman/shellcheck]

# To check shell script files with ShellCheck:
#   $> shellcheck *

# typograhpic quotation marks (‘’“”) should be used in human-read text
disable=SC1112

# we put variables in single quotes on purpose
disable=SC2016

# use “command -v” instead of “which”
enable=deprecate-which

# ensure all variables are in quotes
enable=quote-safe-variables

# all scripts should be POSIX sh–compliant (/bin/sh)
shell=sh
