# SPDX-License-Identifier: CC0-1.0

# This file contains configuration for Git based on filenames in the directory (relative to the repository root): /xkcd/en/print/xkcd_-_volume_0/

.gitattributes text linguist-language=Git-Attributes
.gitignore     text linguist-language=Git-Ignore
mimetype       text linguist-language=Text
*.xml          text linguist-language=XML

.gitkeep binary
*.jpg    binary
*.pdf    binary
*.png    binary
